
<div class="mx-auto" style="width: 600px; p-3">
<h1 class="mt-5">Stupid Coaching</h1>

<form class="form-label" action="/answer" method = "get" data-turbo="false">
  <input class="form-control" type="text" name="question">
  <input type="submit" value="ask away!" class=" mt-3 btn btn-primary">
</form>
</div>
